{% extends "layout.html" %}

{% block content %}
    <div class="col-md-12">
      <div class="panel panel-success">
        <div class="panel-heading">
          <div class="row">
            <div class="col col-xs-12">
              <h1 class="panel-title" style="font-size: 25px;"><i class="fa fa-money fa-fw" aria-hidden="true"></i> Pago de aporte - {{data[2]}} ({{data[1]}}) </h1>
            </div>
          </div>
        </div>
        <div class="panel-body">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for  category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissable">
                  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                   <p>{{ message }}</p>
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          <form action="{{ url_for('guardaraporte') }}" method="POST">
            <div class="col-md-12">
              <input type="text" id="_tipo" name="_tipo" value="N" hidden=> 
              <input type="text" id="_id" name="_id" value="{{data[0]}}" hidden>
              <input type="text" id="_idaporte" name="_idaporte" value="0" hidden>
              <div class="form-group">
                <label for="_monto">Monto</label>
                <input type="text" class="form-control" id="_monto" name="_monto" placeholder="Ingrese el monto " value="0" onkeypress="return justNumbers(event)" required autofocus>
              </div>
              <div class="form-group">
                <label for="_mes">Mes</label>
                <input type="text" class="form-control" id="_mes" name="_mes" placeholder="Ingrese el Mes"  required autofocus>
              </div>
            </div>
            <div style="float: right;">
              <input type="submit" name="" value="Guardar" class="btn btn-primary">
              <a href="/socios/all" class="btn btn-default"><i class="fa fa-reply" aria-hidden="true"></i></a>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script>
function justNumbers(e)
        {
        var keynum = window.event ? window.event.keyCode : e.which;
        if ((keynum == 8) || (keynum == 46))
        return true;
         
        return /\d/.test(String.fromCharCode(keynum));
        }
</script>
{% endblock %}