{% extends "layout.html" %}

{% block content %}
<div class="row">
<div class="col-md-12">
	<div class="col-sm-12">
            <div class="alert alert-danger">
               <strong> Error 404</strong>
                <hr class="message-inner-separator">

                <strong style="font-size: 24px"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Página no encontrada</strong>
                <br>
                <br>
                <a href="/" class="btn btn-sm btn-danger" style="float: right;">Inicio</a> 
                                <br>
                                                <br>
            </div>
        </div>
</div>
</div> 
{% endblock %}

